/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&none      &none  &none  &none      &none         &none                                       &none            &none     &none         &none    &none     &kp K_LOCK
&kp TAB    &kp Q  &kp W  &kp E      &kp R         &kp T                                       &kp Y            &kp U     &kp I         &kp O    &kp P     &none
&kp LCTRL  &kp A  &kp S  &kp D      &kp F         &kp G                                       &kp H            &kp J     &kp K         &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z  &kp X  &kp C      &kp V         &kp B           &none          &none        &kp N            &kp M     &kp COMMA     &kp DOT  &kp FSLH  &none
                         &kp LCTRL  &lt 1 ESCAPE  &kp LEFT_SHIFT  &lt 2 SPACE    &lt 2 ENTER  &kp RIGHT_SHIFT  &kp BSPC  &kp LEFT_ALT
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        num_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "num_l";
            bindings = <
&trans  &none         &trans        &trans        &trans        &trans                    &trans        &trans     &trans     &trans            &trans             &trans
&none   &kp GRAVE     &none         &none         &none         &none                     &none         &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &trans
&none   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5                    &kp NUMBER_6  &kp N7     &kp N8     &kp N9            &kp N0             &trans
&none   &none         &none         &none         &none         &none   &trans    &trans  &none         &none      &none      &none             &kp BACKSLASH      &none
                                    &trans        &trans        &trans  &trans    &trans  &trans        &trans     &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        fn_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            display-name = "fn_l";
            bindings = <
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3   &bt BT_SEL 4                    &trans  &trans          &trans          &trans           &trans   &trans
&kp F1      &kp F2        &kp F3        &kp F4        &kp F5         &kp F6                          &kp F7  &kp F8          &kp F9          &kp F10          &kp F11  &kp F12
&none       &none         &kp INS       &kp HOME      &kp PAGE_UP    &none                           &none   &none           &kp UP_ARROW    &none            &none    &none
&trans      &trans        &kp DEL       &kp END       &kp PAGE_DOWN  &trans        &trans    &trans  &trans  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none    &none
                                        &trans        &trans         &trans        &trans    &trans  &trans  &trans          &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
